@model Nop.Plugin.Payments.Bkash.Models.Message
@{
    Layout = "_ColumnsOne";
}

<div class="page checkout-page order-completed-page">
    <div class="page-title">
        <h1 style="color: red">@Model.ErrorMessage</h1>
    </div>
</div>